.container {
    width: 600px;
    border: solid 1px;
    border-radius: 10px;
    background-color: lightgray
}
.conTitle {
    text-align: center;
    border-bottom: solid 1px;
}

.routeLine {
    display: flex;
    margin: 10px;
    text-align: center;
}

.name, .zone, .hour {
    width: 200px;
}







