.labelName {
    gap: 1px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.spanName {
    color: #cfcfcf;
    margin: 0px 2px;
    font-size: 14px;
}

.Select {
    margin-top: 1px;
}