.Header {
    width: 100%;
    background-color: #531405;
}

.Nav {
    height: 60px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.FigureImg {
    height: 60px;
}

.NavOptions {
    gap: 10px;
    display: flex;
    color: white;
    user-select: none;
    align-items: center;
}

.LogoutIcon {
    padding: 5px;
    display: flex;
    color: white;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
}

.LogoutIcon:hover, .LogoutIcon svg:hover {
    cursor: pointer;
    color: #F8DFBC;
    border-color: #F8DFBC;
}

.links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    font-weight: 400;
    padding: 20px 25px;
    text-decoration: none;
}

.link:hover {
    background-color: #711000;
    color: #F8DFBC;
}

.userAccess {
    cursor: pointer;
}
