.Header {
    width: 100%;
    background-color: #531405;
}

.Nav {
    height: 60px;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

.FigureImg {
    height: 60px;
}

.NavOptions {
    gap: 10px;
    display: flex;
    user-select: none;
    color: white;
}

.LogoutIcon {
    display: flex;
    font-size: 20px;
    border-radius: 50%;
    align-items: center;
}

.LogoutIcon svg:hover {
    color: #F8DFBC;
    cursor: pointer;
}

.links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.link {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
}

.link:hover {
    background-color: #711000;
    color: #F8DFBC;
}
